---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="I'm a professional software developer focused on cloud native applications and infrastructure."
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
    I'm a professional software developer with 2 years of experience focused on <strong>cloud native applications</strong> and infrastructure.
	</p>

	<p>
    Currently, I'm working as fullstack developer at <a href="https://www.tinkin.one/" target='_blank'>Tinkin</a> where I'm building great stuff using many different technologies including <strong>React</strong>, <strong>Node.js</strong>, <strong>PostgreSQL</strong>, <strong>Redis</strong>, <strong>Serverless</strong>, <strong>AWS</strong>, <strong>Terraform</strong>, <strong>GitLab CI/CD</strong>, <strong>GitHub Actions</strong>, <strong>CloudFront</strong>, <strong>CloudFormation</strong>, <strong>CloudWatch</strong>
	</p>

	<p>
    I have a passion for <strong>cloud</strong> and <strong>infrastructure</strong> development, and I'm always looking for new challenges and opportunities to learn and grow. Actually, I'm studying for the <strong>AWS Certified Developer Associate</strong> certification. And you can find my notes <a href="/blog/aws-certified-developer-associate/" target='_blank'>here</a>.
	</p>

	<p>
    I really enjoy working within a team, sharing knowledge and helping others to grow. You can find my GitHub profile <a href="https://www.github.com/leninner" target='_blank'>here</a>.
	</p>

	<p>
    I love kittens and dogs, and I have two dogs and a kitten. You can see them <a href="https://www.instagram.com/_leninner/" target='_blank'>here</a>.
	</p>

  <p>
    Interested in working with me? Send me an email to <a href="mailto:mazabandalenin180@gmail.com" target='_blank'>
  </p>
</Layout>
