---

---
<section
class="w-full bg-gray-100 flex justify-center md:h-52 py-10 my-5 md:my-10"
>
<div class="container flex flex-col sm:flex-row justify-evenly items-center gap-10">
  <img
    src="https://images.squarespace-cdn.com/content/v1/6153…9-9d45-8f51260f9b16/selecta_logo.png?format=1500w"
    alt=""
    class="rounded-xl grayscale hover:grayscale-0 duration-200 ease-in w-32 md:w-60"
  />

  <img
    src="https://uploads-ssl.webflow.com/6112ca9c002c6da88706b3c1/61423cecaccb589b9bdd3613_Group%20625728.svg"
    alt=""
    class="rounded-xl grayscale hover:grayscale-0 duration-200 ease-in w-32 md:w-60"
  />
</div>
</section>
