---

---
<section
class="w-full bg-gray-100 flex justify-center md:h-52 py-10 my-5 md:my-10"
>
<div class="container flex flex-col sm:flex-row justify-evenly items-center gap-10">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/256px-Amazon_logo.svg.png"
    alt=""
    class="rounded-xl grayscale hover:grayscale-0 duration-200 ease-in w-32 md:w-60"
  />

  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/256px-Amazon_logo.svg.png"
    alt=""
    class="rounded-xl grayscale hover:grayscale-0 duration-200 ease-in w-32 md:w-60"
  />
</div>
</section>
