---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "py-2 text-[#333] hover:text-black",
    {
      "font-extrabold border-b-4 border-b-accent": isActive,
    },
  ]}
  {...props}
>
  <slot />
</a>
