---
import HeaderLink from "./HeaderLink.astro";
import { LANGUAJES } from "../consts";
---

<header class="m-0 flex flex-col justify-between container lg md sm">
  <nav
    class="flex flex-col items-center py-5 md:py-4 md:flex-row md:justify-between"
  >
    <h2 class="text-2xl font-bold">
      <a class="text-[#333]" href="/">{LANGUAJES.ENGLISH.SITE_TITLE}</a>
    </h2>

    <div class="flex items-center flex-row">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">Projects</HeaderLink>
    </div>
  </nav>
</header>
