---
import Icon from "astro-icon";
---

<section
  class="flex justify-between items-center my-10 gap-10 container xl lg md sm px-5"
>
  <div class="md:ml-[10%]">
    <div class="flex flex-col md:flex-row items-center gap-5">
      <h1
        class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold tracking-wider my-5 font-sans"
      >
        Hi I'm <span class="text-accent">Lenin</span>
      </h1>

      <!-- <a
        class="text-blue-50 bg-accent font-bold text-xs me-2 px-2.5 py-1 rounded tracking-normal hover:text-blue-50"
        href="https://www.linkedin.com/in/leninner"
        target="_blank"
      >
        Available for hire
      </a> -->

      <a
        class="text-blue-50 bg-accent font-bold text-xs me-2 px-2.5 py-1 rounded tracking-normal hover:text-blue-50"
        href="https://www.tinkin.one/"
        target="_blank"
      >
        Currently, working at <span class="text-blue-50">Tinkin</span>
      </a>
    </div>

    <p class="text-xl text-slate-600">
      I'm a Software Engineer focused on cloud computing using Amazon Web
      Services
    </p>
    <a href="/about">Let's collaborate <span> &RightArrow;</span></a>
  </div>

  <div class="hidden md:flex flex-col gap-4">
    <div class="w-[1px] h-60 bg-slate-500 mx-5"></div>

    <div>
      <a href="https://www.linkedin.com/in/leninner" target="_blank">
        <Icon
          name="mdi:linkedin"
          class="w-10 h-10 text-slate-500 hover:text-black duration-200 ease-in-out"
        />
      </a>

      <a href="https://www.github.com/leninner" target="_blank">
        <Icon
          name="mdi:github"
          class="w-10 h-10 text-slate-500 hover:text-black duration-200 ease-in-out"
        />
      </a>
    </div>
    <div class="w-[1px] h-60 bg-slate-500 mx-5"></div>
  </div>
</section>
