---
import Icon from "astro-icon";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<section class="container xl lg md sm px-5">
  <h1 class="text-3xl md:text-5xl font-semibold tracking-wider">
    Some of my projects
  </h1>

  <div class="flex flex-col gap-10 my-10">
    {
      projects.map(({ slug, data: { title, type } }) => (
        <a
          class="flex justify-between items-center md:px-10 md:py-2 border-b border-b-slate-300 cursor-pointer hover:border-b-slate-500 transition-all duration-200 text-black gap-5 md:gap-10"
          href={`/projects/${slug}`}
        >
          <span class="text-gray-500 text-sm md:text-xl hidden sm:inline ">{type}</span>

          <h2 class="text-xl sm:text-4xl md:text-6xl font-medium tracking-wider truncate">
            {title}
          </h2>

          <Icon name="cil:arrow-right" class="h-10 text-slate-500" />
        </a>
      ))
    }
  </div>
</section>
