---
interface Props {
  variant:
    | "primary"
    | "secondary"
    | "tertiary"
    | "danger"
    | "warning"
    | "success"
    | "info"
    | "light"
    | "dark";
  position: string;
  size?: "sm" | "lg";
  hidden?: boolean;
}

const { variant, size = "lg", position, hidden = "false" } = Astro.props;
const VARIANTS = {
  primary: "from-orange-200 to-red-700",
  secondary: "from-orange-300 to-yellow-700",
  tertiary: "from-slate-300 to-blue-700",
  danger: "from-red-300 to-orange-700",
  warning: "from-slate-300 to-green-700",
  success: "from-blue-300 to-blue-700",
  info: "from-blue-300 to-blue-700",
  light: "from-gray-300 to-gray-700",
  dark: "from-gray-300 to-gray-700",
};
const SIZES = {
  sm: "w-24 h-24",
  lg: "w-56 h-56",
};
const HIDDEN = {
  true: "hidden",
  false: "absolute",
};
---

<div
  class:list={[
    "rounded-full bg-gradient-to-r blur-xl md:opacity-50 opacity-20",
    VARIANTS[variant],
    SIZES[size],
    position,
    HIDDEN[hidden as keyof typeof HIDDEN],
  ]}
>
</div>
