---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("projects");
---

<Layout>
  <section>
    <ul class="container xl lg md sm flex flex-wrap gap-2 md:gap-8 m-0 p-0">
      {
        posts.map((post) => (
          <li class="w-full md:w-[calc(50%-1rem)] duration-200 ease-in first:w-full first:md:mb-4 flex justify-center text-center">
            <a href={`/projects/${post.slug}/`}>
              <h4 class="text-xl md:text-3xl mt-2 md:mt-4">
                {post.data.title}
              </h4>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
