---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { LANGUAJES } from "../consts";

const {
  ENGLISH: { SITE_TITLE, SITE_DESCRIPTION },
} = LANGUAJES;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="cursor-default flex flex-col items-center w-full">
    <Header />
    
    <slot />

    <Footer />
  </body>
</html>
